<!-- SECTION FOR OBSERVER PATTERN -->
<div class="container">
  <h3>PATRÓN OBSERVADOR</h3>
  <div *ngIf="!beginDelivery" class="section">
    <button (click)="begin()">Iniciar entregas a domicilio</button>
  </div>
  <div *ngIf="beginDelivery" class="section">
    <div *ngFor="let d of deliveryTeam" class="delivery">
      <p>
        <strong>{{ d.getName() }} </strong>
        <button *ngIf="
            d.getStatus().startsWith('Domiciliario') ||
            d.getStatus() === 'Disponible para hacer entrega'
          " (click)="deliverFood(d)">
          Asignar entrega de domicilio
        </button>
        <button *ngIf="d.getStatus().startsWith('Entregando pedido')" (click)="finishDelivery(d)">
          Finalizar entrega
        </button>
        {{ d.getStatus() }}
      </p>
    </div>
  </div>
  <div *ngIf="beginDelivery" class="section" id="delivery">
    <h4>Pedido listo para entrega</h4>
    <input type="text" [(ngModel)]="food" />
    <button (click)="searchDrivers()">Buscar domiciliario</button>
  </div>
</div>
<!-- SECTION FOR ITERATOR PATTERN -->
<div class="container">
  <div class="section" id="iterator">
    <h3>PATRÓN ITERADOR</h3>
    <button (click)="startIterator()">Demo iterador</button>
  </div>
</div>